@using System.Security.Claims;

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    @RenderSection("Stylesheets", required: false)
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>
<body>
    <header class="p-3 mb-3 border-bottom" id="header">
    <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        @* Logo *@
        <a class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none" asp-controller="Home" asp-action="Index">
            <img src="~/Images/Main/logo.svg" alt="" width="40" height="32" class="bi me-2">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a class="nav-link px-2 link-secondary" asp-controller='Home' asp-action='Index'>Главная</a></li>
            @{byte? userRole = GetUserRole();}
            @if (userRole >= Role.STORE_ADMIN)
            {
                <li><a class="nav-link px-2 link-secondary" asp-controller='StoreAdministrator' asp-action='ChooseStore'>Список товаров магазина</a></li>
            }
            @if (userRole == Role.ADMIN)
            {

                <li><a class='nav-link px-2 link-secondary' asp-controller='AdminStore' asp-action='ManageStores'>Филиалы</a></li>
                <li><a class='nav-link px-2 link-secondary' asp-controller='AdminUser' asp-action='ManageUsers'>Пользователи</a></li>
            }
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input type="search" class="form-control" placeholder="Поиск по каталогу" aria-label="Search">
        </form>

        @if(userRole == null)
        {
            <div class="text-end">
            <a class='btn btn-outline-primary me-2' asp-controller='Auth' asp-action='Login'>Войти</a>
            <a class='btn btn-primary' asp-controller='Auth' asp-action='SignUp'>Зарегистрироваться</a>
            </div>
        }
        else
        {
            <div class="dropdown text-end">
                <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="~/Images/Main/user.svg" alt="mdo" width="32" height="32" class="rounded-circle">
                </a>
                <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1" style="">
                    <li><a class="dropdown-item" asp-controller="Home" asp-action="ShoppingCart">Корзина</a></li>
                    <li><a class="dropdown-item" href="#">Мои комментарии(coming soon)</a></li>
                    <li><a class="dropdown-item" href="#">Профиль(coming soon)</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" asp-controller='Auth' asp-action='Logout'>Выйти</a></li>
                </ul>
            </div>
        }
    </div>
    </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="container-fluid">
        <div class="container">
        <div class="row justify-content-center justify-content-lg-between">
            <figure class="logo col-md-3 col-sm-5 col-lg-2">
                <a href="#header">
                    <img src="~/Images/Main/logo.svg" alt="Хомячий мир" style="height: 5rem; width: 5rem;">
                </a>
                <figcaption>Интернет магазин компьютерной техники</figcaption>
            </figure>
            <nav class="menu-footer col-md-3 col-sm-5">
                <a href="#" class="d-block">Каталог</a>
                <a href="#" class="d-block">О нас</a>
                <a href="#" class="d-block">Политика конфиденциальности</a>
            </nav>
            <div class="col-sm-8 col-md-5">
            @* Поиск *@
            <form>
            <div class="d-flex justify-content-center align-items-center">
                <input type="text" placeholder="Поиск по каталогу">
                <button type="submit" class="d-flex justify-content-center align-items-center">
                    <img src="~/Images/Main/search.svg" alt="Поиск">
                </button>
            </div>
            </form>
            </div>
            <div class="soc">
                <p>Следи за нами в соц. сетях</p>
                <nav class="d-flex justify-content-center align-items-center">
                    <a href="https://github.com/Cekator3/HamsterWorld"><img src="~/Images/Main/github-mark.svg" alt="Github"></a>
                    <a href="https://vk.com/maedae1"><img src="~/Images/Main/vk-logo.svg" alt="Вконтакте"></a>
                </nav>
            </div>
            </div>
        </div>
        <p class="copyrights text-center">Все права защищены &copy; 2023</p>
        </div>
    </footer>
</body>
</html>

@functions 
{
    public byte? GetUserRole()
    {
        //Ищем в аутентификационных куках роль пользователя
        Claim? userRole = User.FindFirst(ClaimTypes.Role);

        if(userRole == null)
        {
            return null;
        }

        return byte.Parse(userRole.Value);
    }
}