<a asp-action="ManageProducts" asp-route-storeId=@ViewBag.StoreId asp-route-category=@Product.Categorys.CPU>Процессоры</a>
<a asp-action="ManageProducts" asp-route-storeId=@ViewBag.StoreId asp-route-category=@Product.Categorys.GPU>Видеокарты</a>
<a asp-action="ManageProducts" asp-route-storeId=@ViewBag.StoreId asp-route-category=@Product.Categorys.RAM>Оперативная память</a>