<a asp-action="ManageCPUs" asp-route-storeId=@ViewBag.StoreId>Процессоры</a>
<a asp-action="ManageGPUs" asp-route-storeId=@ViewBag.StoreId>Видеокарты</a>
<a asp-action="ManageRAMs" asp-route-storeId=@ViewBag.StoreId>Оперативная память</a>