<a asp-action="ManageProducts" asp-route-storeId=@ViewBag.StoreId asp-route-category=@((byte)Product.Categorys.CPU)>Процессоры</a>
<a asp-action="ManageProducts" asp-route-storeId=@ViewBag.StoreId asp-route-category=@((byte)Product.Categorys.GPU)>Видеокарты</a>
<a asp-action="ManageProducts" asp-route-storeId=@ViewBag.StoreId asp-route-category=@((byte)Product.Categorys.RAM)>Оперативная память</a>