@{
	ViewBag.Title = "Категории товаров";
}
<div class="container">
	<div class="row mb-2">
		<div class="col-12 text-center">
			<h1>Категории товаров</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 text-center col-6">
			<a asp-action="ManageProducts" asp-route-storeId=@ViewBag.StoreId asp-route-category=@((byte)Product.Categorys.CPU)>Процессоры</a>
		</div>
		<div class="col-sm-4 text-center col-6">
			<a asp-action="ManageProducts" asp-route-storeId=@ViewBag.StoreId asp-route-category=@((byte)Product.Categorys.GPU)>Видеокарты</a>
		</div>
		<div class="col-sm-4 text-center col-6">
			<a asp-action="ManageProducts" asp-route-storeId=@ViewBag.StoreId asp-route-category=@((byte)Product.Categorys.RAM)>Оперативная память</a>
		</div>
	</div>
</div>

<style>
	a{
		text-decoration: none;
	}
</style>