@model List<Store>
@{
    ViewBag.Title = "Магазины";
}

<div class="overflow-auto">
<table id="Users" class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Название</th>
            <th scope="col">Адрес</th>
            <th scope="col">Изменить</th>
        </tr>
    </thead>
    <tbody>
        @for(byte i = 0; i < Model.Count; i++)
        {
            <tr>
                <th scope="row">@(i+1)</th>
                <th scope="row">@Model[i].Name</th>
                <th scope="row">@Model[i].Address</th>
                <th scope="row"><a asp-action="ChooseCategory" asp-route-storeId="@Model[i].Id" class="btn btn-primary">Изменить</a></th>
            </tr>    
        }
    </tbody>
</table>
</div>