@model List<ProductAmountBindingModel>
<div>
    @foreach (ProductAmountBindingModel product in Model)
    {
        <div class="col-lg-4" id="@product.Id">
            <img class="img-thumbnail" src="@product.PictureSrc!" alt="Картинка">
            <h2>@product.ToString()</h2>
            <p>@product.Price руб.</p>
            <p>Количество: <input value=@product.Amount class="Amount"></p>
        </div>
        <div>
            <a asp-action="ManageProduct" asp-route-category=@ViewBag.Category asp-route-id=@product.Id>Изменить информацию о этом виде товара</a>
        </div>
    }
    <div class="col-lg-4">
        <a asp-action="ManageProduct" asp-route-category=@ViewBag.Category>Добавить новую ОЗУ</a>
    </div>
</div>