@model ProductDetailsBindingModel
@{
	ViewBag.Title = "Вид продукта";
}
<div class="container">
	<div class="row">
		<h2>Информация о типе товара</h2>
	</div>
	<div class="row mb-3">
		<form enctype="multipart/form-data" asp-action="ManageProduct" method="post">
			<input readonly hidden asp-for="Id">
			<input readonly hidden asp-for="StoreId">
			<input readonly hidden asp-for="Category">

			<div class="form-group mb-2">
				<label asp-for="Country">Код страны (две буквы)</label>
				<input asp-for="Country" class="form-control" placeholder="RU">
				<span asp-validation-for="Country" class="text-danger"></span>
			</div>

			<div class="form-group mb-2">
				<label asp-for="Model">Модель</label>
				<input asp-for="Model" class="form-control" placeholder="Intel Core i3">
				<span asp-validation-for="Model" class="text-danger"></span>
			</div>

			<div class="form-group mb-2">
				<label asp-for="Description">Описание</label>
				<input asp-for="Description" class="form-control" placeholder="Многословное описание товара">
			</div>

			<div class="form-group mb-2">
				<label asp-for="Price">Цена</label>
				<input asp-for="Price" class="form-control" placeholder="99.99 рублей">
				<span asp-validation-for="Price" class="text-danger"></span>
			</div>

			@if(Model.CpuDetails != null)
			{
				@Html.EditorFor(m => m.CpuDetails!);
			}
			else if(Model.GpuDetails != null)
			{
				@Html.EditorFor(m => m.GpuDetails!);
			}
			else if(Model.RamDetails != null)
			{
				@Html.EditorFor(m => m.RamDetails!);
			}

			<div class="form-group mb-2">
				<label asp-for="NewPhotos">Загрузите новую фотку</label>
				<input asp-for="NewPhotos" type="file" multiple class="form-control" id="formFileMultiple">
				<span asp-validation-for="NewPhotos" class="text-danger"></span>
			</div>

			<button type="submit" class="btn btn-primary">Сохранить</button>
		</form>
	</div>

	<div class="row">
		<div class="col-12">
			<h2 class="text-center">Галерея</h2>
		</div>
	</div>
	<div class="row mb-3">
		<div class="col-6 mx-auto">
			<button class="btn btn-success save-changes" disabled style="width: 100%;">Сохранить изменения</button>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			@if(Model.Pictures.Count == 0)
			{
				<p>Здесь пока что пусто</p>
			}
		</div>
	</div>
	<div class="d-flex flex-column px-0">
		@foreach (ProductPicture picture in Model.Pictures.OrderByDescending(pic => pic.OrderNumber))
		{
			<div class="container picture-galery px-0 order-@picture.OrderNumber">
				<div class="row" pictureId="@picture.Id">
					<div class="btn-group col-6 mx-auto" role="group">
						<button class="btn btn-primary picture-up">Вверх</button>
						<button class="btn btn-danger picture-delete">Удалить фотку</button>
						<button class="btn btn-primary picture-down">Вниз</button>
					</div>
				</div>
				
				<div class="row mb-5">
					<div class="col-6 mx-auto">
						<img src=@($"{ProductPicture.PATH}{picture.FileName}") alt="Картинка"  style="width: 100%;">
					</div>
				</div>
			</div>
		}
	</div>
</div>

<script src="~/js/StoreAdministrator/ManageProduct.js"></script>