@model RAMDetails

<div>
	<label asp-for="MemoryType">Тип памяти</label>
	<input asp-for="MemoryType">
</div>

<div>
	<label asp-for="AmountOfMemory">Количество памяти</label>
	<input asp-for="AmountOfMemory">
</div>