#addNew
{
  cursor: pointer;
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 8px;
  align-items: center;
  text-align: center;
  color: rgb(73, 73, 73);
}
#addNew a
{
  text-decoration: none;
  color: unset;
}
#addNew:hover
{
  color: grey;
}