@model ManageStoreBindingModel
@{
    if(Model.Name == "")
    {
        ViewBag.Title = "Новый филиал";
    }
    else
    {
        ViewBag.Title = Model.Name;
    }
}

<div class="container">
    @if(Model.StoreId != null)
    {
        <div class="row mb-3">
            <a asp-action="ChangeStoreAdministrators" asp-route-storeId="@Model.StoreId" class="link-primary">Редактировать информацию о администраторах магазина</a>
        </div>
    }
    <form asp-action="ManageStore" autocomplete="off">
        @Html.AntiForgeryToken()
        <input type="hidden" readonly asp-for="StoreId">
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div>
            <div class="form-group mb-2">
                <label for="Name">Введите название магазина</label>
                <input asp-for="Name" class="form-control" placeholder="Хомячьий рай">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <label for="OpeningTime">Введите время открытия магазина</label>
                <input asp-for="OpeningTime" class="form-control" placeholder="8:00">
                <span asp-validation-for="OpeningTime" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <label for="ClosingTime">Введите время закрытия магазина</label>
                <input asp-for="ClosingTime" class="form-control" placeholder="20:00">
                <span asp-validation-for="ClosingTime" class="text-danger"></span>
            </div>

            <div class="form-group mb-2">
                <label for="Address">Введите адрес магазина</label>
                <input asp-for="Address" class="form-control" placeholder="г Ханты-Мансийск">
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </form>
</div>

<link href="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/css/suggestions.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/suggestions-jquery@21.12.0/dist/js/jquery.suggestions.min.js"></script>

<script>
    $("#Address").suggestions({
        token: "fb8efd9660bc8c29c59353134773f1a3d17db203",
        type: "ADDRESS",
    });
</script>
