ul
{
   list-style: none;
}

a
{
   text-decoration: none;
}

.row
{
   margin-bottom: 1em;
}

.info
{
   background: linear-gradient(0deg,#fc8507,#ffa218);
   box-shadow: 0 14px 44px rgba(252,154,7,.28);
   border-radius: 16px;
   padding: 32px 0;
}

.info .info-items__num
{
   color: #fff;
   font-weight: 700;
   font-size: 1.5em;
}

.info .info-items__subtitle-info
{
   color: #fff;
   font-weight: 400;
   font-size: 1em;
}

.category-list .category-item
{
   color: rgb(63, 63, 63);
}

.category-list .category-item:hover
{
   color: rgb(185, 121, 0);
}