@model CatalogGpuFilter


<div class="row">
	<div class="col-12">
		<label asp-for="VramMin">Объем видеопамяти(ГБ)</label>
	</div>
	<div class="col">
		<input asp-for="VramMin" class="form-control" placeholder="от 0">
	</div>
	<div class="col">
		<input asp-for="VramMax" class="form-control" placeholder="до 999999">
	</div>
</div>

<div class="row">
	<div class="col-12">
		<label asp-for="MemoryType">Тип памяти</label>
	</div>
	<div class="col">
		<input asp-for="MemoryType" class="form-control" placeholder="GDDR6">
	</div>
</div>