@{
    ViewData["Title"] = "Каталог";
}

<div class="container-fluid">
<div class="container">
    <section class="categories row">
        <div class="categories-menu col-3">
            <h3 class="d-flex align-items-center">КАТЕГОРИИ</h3>
            <nav class="menu">
                <ul>
                    <li>
                        <a href="#">Компьютерные комплектующие</a>
                        <ul class="sub-categories">
                            <li>
                                <a href="#">Процессоры</a>
                            </li>
                            <li>
                                <a href="#">Видеокарты</a>
                            </li>
                            <li>
                                <a href="#">Оперативная память</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Компьютерные комплектующие</a>
                    </li>
                    <li>
                        <a href="#">Компьютерные комплектующие</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="items col-9">

        </div>
    </section>
</div>
</div>