@model CPUDetails

<div>
	<label asp-for="Socket">Сокет</label>
	<input asp-for="Socket">
</div>

<div>
	<label asp-for="NumberOfCores">Количество ядер</label>
	<input asp-for="NumberOfCores">
</div>

<div>
	<label asp-for="ClockRate">Тактовая частота</label>
	<input asp-for="ClockRate">
</div>