html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#addNew
{
  cursor: pointer;
  font-size: 100px;
  font-weight: bold;
  margin-bottom: 8px;
  vertical-align: central;
  align-items: center;
  text-align: center;
  color: rgb(73, 73, 73);
}
#addNew a
{
  text-decoration: none;
  color: unset;
}
#addNew:hover
{
  border: dashed grey;
  color: grey;
  margin-top: -3px;
  margin-bottom: 5px;
}