@model ViewCpuBindingModel
@{
   CPU cpu = (CPU)Model.Product;
}

<div class="col-12 d-flex justify-content-between">
   <span>Тактовая частота</span>
   <span>@cpu.ClockRate</span>
</div>

<div class="col-12 d-flex justify-content-between">
   <span>Количество ядер</span>
   <span>@cpu.NumberOfCores</span>
</div>

<div class="col-12 d-flex justify-content-between">
   <span>Сокет</span>
   <span>@cpu.Socket</span>
</div>