@model ViewCpuBindingModel
@{
   RAM ram = (RAM)Model.Product;
}

<div class="col-12 d-flex justify-content-between">
   <span>Тип памяти</span>
   <span>@ram.MemoryType</span>
</div>

<div class="col-12 d-flex justify-content-between">
   <span>Количество памяти</span>
   <span>@ram.AmountOfMemory</span>
</div>